.welcome-wrapper {
  display: flex;
  margin-top: 15vh;
  justify-content: center;
}

.title {
  margin-bottom: 0;
}

.subtitle {
  opacity: 0.6;
  margin-bottom: 0;
}

.bio {
  max-width: 600px;
  line-height: 1.24;
}

.welcome-links {
  margin-top: 2em;
}