.welcome-wrapper {
  display: flex;
  margin-top: 5vh;
  justify-content: center;
  
  @media screen and (min-width: 750px) {
    margin-top: 15vh;
  }
}

.title {
  margin-bottom: 0;
}

.subtitle {
  opacity: 0.6;
  margin-bottom: 0;
}

.bio {
  max-width: 600px;
  line-height: 1.24;
}

.welcome-links {
  margin-top: 2em;
}