@import "../variables";
@import "../mixins";

$margin-container: 1em;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media screen and (min-width: 1100px) {
    margin: 5em 0;
    height: 420px;
    
    &:nth-of-type(odd) {
      & .header,
      & .description,
      & .links,
      & .tags {
        align-self: flex-end;
      }

      & .header,
      & .description {
        text-align: right;
      }

      & .tags {
        justify-content: flex-end;
      }

      & .preview-image {
        left: 0;
      }
    }

    &:nth-of-type(even) {
      & .header,
      & .description,
      & .links,
      & .tags {
        align-self: flex-start;
      }

      & .header,
      & .description {
        text-align: left;
      }

      & .tags {
        justify-content: flex-start;
      }

      & .preview-image {
        right: 0;
      }
    }
  }

  & > .header {
    align-self: flex-start;

    & > h2 {
      margin-bottom: 0.25em;
    }

    @media screen and (min-width: 1100px) {
      margin-top: 2em;
      
      & > h3 {
        margin-bottom: 0.25em;
      }
    }
  }

  & > .preview-image {
    width: 100%;
    max-width: 450px;
    height: 295px;
    position: relative;
    cursor: pointer;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: $dark-purple;
  
  
    border: solid 2px $light-purple;
    border-radius: 4px;
  
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.50);
      transition: background-color 0.4s ease;
    }
  
    &:hover::after {
      background-color: transparent;
    }
  
    @media screen and (min-width: 1100px) {
      position: absolute;
      width: calc(50% - 1em);
      height: 420px;
      max-width: initial;
    }
  }
}

.description {
  background-color: $light-purple;
  padding: 16px;
  border-radius: 4px;
  line-height: 1.42em;
  
  text-align: center;
  max-width: 450px;
  width: 100%;
  
  @media screen and (min-width: 1100px) {
    max-width: initial;
    width: calc(50% - 1em);
  }
}

.tags {
  // Reset List Styles
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;

  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0.8;
  margin-bottom: 1em;

  & > * {
    margin: 0.5em;
  }

  @media screen and (min-width: 1100px) {
    width: calc(50% - 1em);
  }
}

.links {
  @include gap(1em);
  padding: 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spotify-favorites {
  background-image: url('../../../public/images/spotify-favorites-large.png');
}

.personal-website {
  background-image: url('../../../public/images/personal-website-large.png');
}

.student-loan-savings {
  background-image: url('../../../public/images/student-loan-savings-large.png');
}

.my-reads {
  background-image: url('../../../public/images/my-reads-large.png');
}