@import "../_variables";
@import "../_mixins";

.container {
  @include vertical-line;

  $side-space: 5px;
  
  position: fixed;
  bottom: 0;
  width: 45px;

  display: none;
  align-items: center;
  writing-mode: vertical-lr;

  color: $frost-white;
  opacity: 0.8;
  letter-spacing: 1.77px;

  &[data-side="left"] {
    left: $side-space;
  }

  &[data-side="right"] {
    right: $side-space;
  }

  &:hover::after {
    opacity: 1;
  }

  & > *:hover {
    color: $yellow;
  }

  @media screen and (min-width: 750px) {
    display: flex;
  }
}