@import '../mixins';

.wrapper {
  display: flex;
  justify-content: center;

  margin-top: 4vh;

  & > .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1240px;
    flex-grow: 1;

    & > div {
      @media screen and (min-width: 1330px) {
        flex-grow: 1;
      }
    }

    @media screen and (min-width: 1330px) {
      flex-direction: row;
      align-items: initial;
    }
  }
}

.title,
.subtitle {
  margin-bottom: 0;
}

.subtitle {
  opacity: 0.6;
}

.bio {
  max-width: 600px;
  line-height: 1.24;
  margin-bottom: 2em;
}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include gap(1em);

  @media screen and (min-width: 400px) {
    justify-content: flex-start;
    & > * + * {
      margin-left: 1em;
    }
  }
}

.j {
  background-image: url('../../../public/images/j.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  flex-basis: 50vw;

  max-width: 375px;
  width: 66.666%;
  height: 70%;
  max-height: 623.34px;

  margin: 3em auto;

  @media screen and (min-width: 1330px) {
    align-self: flex-end;
    position: relative;
    bottom: 100px;
    right: 50px;
  }
}
