@import './colors.less';
@import './mixins.less';

.contact-bar {
  display: flex;
  align-items: center;
  
  writing-mode: vertical-lr;
  transition: color 0.2s ease;

  &:hover {
    color: @yellow;
  }

  .vertical-line();
}
