@import './colors.less';
@import './mixins.less';

.contact-bar {
  display: flex;
  align-items: center;
  
  writing-mode: vertical-lr;
  transition: color 0.2s ease;

  .vertical-line();

  & > a {
    transition: all 0.4s ease;
  }

  & > a:hover {
    color: @yellow;
    padding-bottom: 5px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}
