.btn-link-base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 148px;
  font-weight: 400;
  color: #F9DC78;
  text-decoration: none;
  transition: background-color 0.2s ease;
}
.btn-link-base:hover,
.btn-link-base:focus {
  text-decoration: none;
}
.btn-link-primary {
  border: 2px solid #F9DC78;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-link-primary:hover {
  background-color: rgba(249, 220, 120, 0.2);
  color: #FFC600;
  border-color: #FFC600;
}
.btn-link-primary:active {
  outline-width: 2px;
  outline-color: #7895F9;
  outline-style: auto;
}
html,
body {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #303c6c;
}
h1,
h2,
h3 {
  margin-top: 0;
}
button {
  cursor: pointer;
  border: none;
  background-color: unset;
}
li {
  margin-bottom: 1em;
}
.fs-x-large {
  font-size: clamp(40px, 8vw, 80px);
  letter-spacing: 1.42px;
}
.fs-large {
  font-size: clamp(26px, 6vw, 52px);
  letter-spacing: 1.42px;
}
.fs-normal {
  font-size: clamp(1em, 5vw, 22px);
}
/* Font Colors */
.fc-bright-purple {
  color: #7895F9;
}
.fc-yellow {
  color: #F9DC78;
}
.fc-frost-white {
  color: #F6F9FC;
}
.contact-bar {
  display: flex;
  align-items: center;
  writing-mode: vertical-lr;
  transition: color 0.2s ease;
}
.contact-bar::after {
  content: '';
  height: 60px;
  width: 1px;
  background-color: #FFFFFF;
  margin-top: 25px;
  transition: background-color 0.2s ease;
}
.contact-bar > a {
  transition: all 0.4s ease;
}
.contact-bar > a:hover {
  color: #F9DC78;
  padding-bottom: 5px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 2em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  letter-spacing: 1.42px;
}
.home-wrapper {
  display: grid;
  grid-auto-rows: 100vh;
  margin: 0 5%;
}
.logo-container {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color 0.4s ease-in;
}
.logo-container > * {
  grid-area: 1 / 1 / 2 / 2;
}
.logo-container:hover {
  background: #303c6c;
}
.logo-container:hover > .logo-c,
.logo-container:hover > .logo-j-curved-line {
  border-color: #F9DC78;
}
.logo-container:hover > .logo-c-mask,
.logo-container:hover > .logo-j-curved-line-mask {
  background-color: #303c6c;
}
.logo-container:hover > .logo-j-vertical-line {
  background-color: #F9DC78;
}
.logo-c {
  height: 57px;
  width: 53px;
  border: 6px solid #303c6c;
  border-radius: 50%;
  z-index: 1;
  transition: border-color 0.4s ease-in;
}
.logo-c-mask {
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 45%;
  background-color: #FFFFFF;
  z-index: 2;
  transition: all 0.4s ease-in;
}
.logo-j-vertical-line {
  height: 27px;
  width: 6px;
  background-color: #303c6c;
  transform: translate(7px, -6px);
  z-index: 2;
  transition: background-color 0.4s ease-in;
}
.logo-j-curved-line {
  height: 28px;
  width: 22px;
  transform: translate(-1px, 5px);
  border: 6px solid #303c6c;
  border-radius: 40%;
  transition: border-color 0.4s ease-in;
}
.logo-j-curved-line-mask {
  height: 25px;
  width: 30px;
  transform: translate(0, -6px);
  background-color: #FFFFFF;
  transition: background-color 0.4s ease-in;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100px;
  padding: 0 16px;
  background-color: #F6F9FC;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  transition: height 0.2s ease;
}
.nav-items {
  display: none;
  list-style: none;
  font-size: 22px;
  color: #7895F9;
  letter-spacing: 1.25px;
}
.nav-link {
  padding: 8px 16px;
  margin: 0 8px;
  border-radius: 4px;
  transition: all 0.4s ease;
}
.nav-link:hover {
  color: #1c4fff;
  background-color: #7895F9;
}
.nav-link.active {
  font-weight: 700;
  color: #303c6c;
  border-bottom: solid 4px #303c6c;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
@media all and (min-width: 750px) {
  .nav-items {
    display: flex;
  }
}
.social-bar {
  display: flex;
  align-items: center;
  writing-mode: vertical-lr;
}
.social-bar::after {
  content: '';
  height: 60px;
  width: 1px;
  background-color: #FFFFFF;
  margin-top: 25px;
  transition: background-color 0.2s ease;
}
.social-link {
  transition: all 0.4s ease;
  padding: 10px;
}
.social-link:hover {
  color: #F9DC78;
  transform: translateY(-5px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.social-link > .mi {
  color: inherit;
  transition: all 0.2s ease;
}
.welcome-wrapper {
  display: flex;
  margin-top: 15vh;
  justify-content: center;
}
.title {
  margin-bottom: 0;
}
.subtitle {
  opacity: 0.6;
  margin-bottom: 0;
}
.bio {
  max-width: 600px;
  line-height: 1.24;
}
.welcome-links {
  margin-top: 2em;
}
/*
  Using visibility to keep the height of the container the same regardless of
  which element is active. If we used display: none -> display: block then
  the cumulative layout shift (CLS) would increase.
*/
.job-container {
  grid-area: main;
  max-width: 600px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s cubic-bezier(0.4, 0, 1, 1);
}
.job-container.active {
  visibility: visible;
  opacity: 1;
}
.job-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0;
}
.job-company {
  margin-left: 1em;
  font-size: 14px;
  font-weight: 700;
  color: #F9DC78;
}
.job-company > a {
  display: inline-block;
  position: relative;
}
.job-company > a::before,
.job-company > a::after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  background-color: #F9DC78;
  opacity: 1;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.job-company > a::before {
  right: 50%;
}
.job-company > a::after {
  left: 50%;
}
.job-company > a:hover::before,
.job-company > a:hover::after {
  width: 50%;
  opacity: 1;
}
.job-duration {
  font-size: 16px;
  font-weight: 300;
}
.job-accomplishments {
  list-style-type: none;
  color: #7895F9;
  padding-inline-start: 0;
}
.work-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title {
  display: flex;
  align-items: center;
  color: #F9DC78;
  font-size: 28px;
}
.section-title::after {
  content: "";
  height: 1px;
  margin: 0 1em;
  flex-grow: 1;
  background-color: #FFFFFF;
  opacity: 0.8;
}
.work-history {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "indicator main";
}
.work-history > * {
  margin: 8px;
}
.indicator {
  grid-area: indicator;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 8px;
}
.circle-wrapper {
  cursor: pointer;
  background-color: #303c6c;
  z-index: 1;
}
.circle-wrapper:focus {
  outline: none;
}
.circle-wrapper:hover > .circle,
.circle-wrapper:focus > .circle {
  background-color: #000;
  border-color: #FFC600;
}
.circle-wrapper > .circle {
  height: 21px;
  width: 21px;
  background-color: #303c6c;
  border: 3px solid #F9DC78;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.circle-wrapper > .circle.active {
  border-color: #FFFFFF;
  background-color: #000;
}
.cut {
  position: absolute;
  top: 4px;
  bottom: 4px;
  width: 2px;
  background-color: #FFFFFF;
}
.staircases {
  height: 375px;
  width: 400px;
  margin-left: 150px;
  position: relative;
  top: 1em;
}
@media screen and (max-width: 1400px) {
  .staircases {
    display: none;
  }
}
.staircases > .staircase {
  position: absolute;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.staircases .staircase-transparent {
  top: -40px;
  left: 40px;
}
.staircases .staircase-transparent > .stair {
  background-color: #F4976C;
  opacity: 0.6;
}
.staircases .stair-1 {
  width: 100px;
}
.staircases .stair-2 {
  width: 175px;
}
.staircases .stair-3 {
  width: 250px;
}
.staircases .stair-4 {
  width: 325px;
}
.staircases .stair-5 {
  width: 400px;
}
.stair {
  height: 75px;
  border-top-right-radius: 4px;
  background-color: #F6F9FC;
}
.stair:first-child {
  border-top-left-radius: 4px;
}
.stair:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.mi {
  color: #FFFFFF;
  font-size: 24px;
}
.menu-wrapper {
  display: grid;
  place-content: center;
  height: 52px;
  width: 80px;
  cursor: pointer;
}
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  width: 88px;
  padding: 4px;
}
.menu-icon:focus {
  outline: none;
}
.menu-icon > .line {
  height: 8px;
  width: 100%;
  background-color: #303c6c;
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 #000000;
  transition: background-color 0.2s ease-in-out;
}
.menu-icon > *:nth-child(1) {
  animation: animate-line-1-rev 0.7s ease-in-out;
}
.menu-icon > *:nth-child(2) {
  animation: animate-line-2-rev 0.7s ease-in-out;
}
.menu-icon > *:nth-child(3) {
  animation: animate-line-3-rev 0.7s ease-in-out;
}
.menu-icon.active > *:nth-child(1) {
  animation: animate-line-1 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}
.menu-icon.active > *:nth-child(2) {
  animation: animate-line-2 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}
.menu-icon.active > *:nth-child(3) {
  animation: animate-line-3 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}
@keyframes animate-line-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, 22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 22px, 0) rotate(45deg);
  }
}
@keyframes animate-line-2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes animate-line-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, -22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, -22px, 0) rotate(135deg);
  }
}
@keyframes animate-line-1-rev {
  0% {
    transform: translate3d(0, 22px, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, 22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
@keyframes animate-line-2-rev {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes animate-line-3-rev {
  0% {
    transform: translate3d(0, -22px, 0) rotate(135deg);
  }
  50% {
    transform: translate3d(0, -22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
@media all and (min-width: 750px) {
  .menu-wrapper {
    display: none;
  }
}
