$url-logo-light: url('../../../public/images/logo-light.svg');
$url-logo-dark: url('../../../public/images/logo-dark.svg');

.mi {
  color: inherit;
  font-size: 24px;
  transition: all 0.2s ease;
}

.mi-logo {
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;

  transition: background-image 0.4s ease;

  @media screen and (min-width: 750px) {
    height: 65px;
    width: 65px;
  }
}

.mi-logo-light {
  background-image: $url-logo-light;
}

.mi-logo-dark {
  background-image: $url-logo-dark;
}