@import 'scss/variables';

.animated {
  position: relative !important;
  top: -$height-nav !important;
}

.container {
  background-color: $frost-white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  transition: height 0.4s ease;
  height: $height-nav-small;
  overflow: hidden;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;

  @media screen and (min-width: 750px) {
    height: $height-nav;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: $height-nav-small;
  padding: 0 16px;

  @media screen and (min-width: 750px) {
    height: $height-nav;
  }
}

.links {
  display: none;
  list-style: none;
  user-select: none;

  font-size: 22px;
  letter-spacing: 1.25px;

  @media all and (min-width: 750px) {
    display: flex;
  }
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 8px;
  border-radius: 4px;
  text-transform: capitalize;
  border-top: solid 4px transparent;
  border-bottom: solid 4px transparent;

  transition: all 0.4s ease;

  &:hover {
    color: #1c4fff;
    background-color: $light-purple;
  }

  &.active {
    color: $dark-purple;
    border-bottom: solid 4px $dark-purple;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;

  background-color: rgba(0, 0, 0, 0.9);

  @media screen and (min-width: 750px) {
    display: none;
  }
}
