.container {
  display: grid;
  grid-template-rows: var(--height-nav-small) 1fr;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-rows: var(--height-nav) 1fr;
  }
}
