.container {
  height: calc(100vh - var(--height-nav));
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 8vh;
  }
}

@media screen and (min-width: 1330px) {
  .container {
    flex-direction: row;
    align-items: initial;
  }

  .container > div {
    flex-grow: 1;
  }
}

.j {
  background-image: url('../../public/images/j.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  flex-basis: 50vw;

  max-width: 375px;
  width: 66.666%;
  height: 70%;
  max-height: 623.34px;

  margin: 3em auto;
}

@media screen and (min-width: 1330px) {
  .j {
    align-self: flex-end;
    position: relative;
    bottom: 100px;
    right: 50px;
  }
}
