@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-purple: #303c6c;
  --light-purple: #8da6ff;
  --yellow: #f9dc78;
  --yellow-golden: #ffc600;
  --frost-white: #f6f9fc;
  --white: #ffffff;

  --height-nav: 96px;
  --height-nav-small: 76px;
}

@layer utilities {
  .focus-indicator {
    @apply rounded-md;
    @apply focus-visible:outline-none;
    @apply focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-4 focus-visible:ring-offset-[#303c6c];
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--frost-white);
  background-color: var(--dark-purple);
}

/* Copied from colors */
.fs-x-large {
  font-size: clamp(40px, 8vw, 80px);
  letter-spacing: 1.42px;
}

.fs-large {
  font-size: clamp(26px, 6vw, 52px);
  letter-spacing: 1.42px;
}

.fs-normal {
  font-size: clamp(1em, 5vw, 22px);
}

/* Font Colors */
.fc-dark-purple {
  color: var(--dark-purple);
}

.fc-light-purple {
  color: var(--light-purple);
}

.fc-yellow {
  @apply text-yellow-300;
}

.fc-frost-white {
  color: var(--frost-white);
}
