.container {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title::after {
  content: '';

  display: inline-block;
  height: 2px;
  flex-grow: 1;
  margin-left: 0.5em;
  background-color: var(--yellow);
}

.separator {
  display: inline-flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  margin: 10em 0;
}

.separator::after {
  position: absolute;
  content: '';
  height: 2px;
  width: calc(100% / cos(11deg));

  background-color: var(--yellow);
  transform: rotate(11deg);
}

.separator:nth-of-type(even)::after {
  transform: rotate(169deg) !important;
}
